<div id="about" class="mt-3 pb-5 container text-center">
  <div class="about-heading text-center row">
    <div class="col-lg-12 col-md-12 col-12">
    <h3 class="display-4 font-weight-bold">About</h3>
    <hr class="w-50 mx-auto">
  </div>
</div>
</div>

<div class="container">
<div class="row">
  <div class="col-lg-6 col-md-6 col-12">
    <img  src="assets/IMG_2286.jpg" class="img-fluid">
  </div>
  <div class="col-lg-6 col-md-6 col-12 ">
    <h2 class="about-header">Know more about me</h2>

    <p>
     I'm Ashish, a full stack software engineer. I have been working as software developer in multiple tech companies for past 15 years.</p>

     <p>Recently I have created this website for my portfolio as well as a place where I can discuss various web technologies with you all.</p>

     <p>I love working on web technologies which includes Angular, HTML5, Bootstrap/Material CSS and Backend with RESTFul services in Node Js/Dotnet core. </p>

     <p>I can be reached at <strong style="color: brown;"> akhare@codetofix.com </strong></p>


     <button class="btn btn-secondary btn-lg float-center">Contact me</button>

  </div>
</div>
</div>

